body {
    background-color: lightblue;
  }

  h1 {
    color: white;
    text-align: center;
  }
  
  h3 {
	color: yellow;
    text-align: center;
  }

  p {
    font-family: verdana;
    font-size: 20px;
  }

  #divku p,h1 {
    color: red;
    text-align: center;
  }
  
  #divku h3 {
	color: #FF0099;
    text-align: center;
  }
  
  .kotak_satu{
	  background-color:green;
	  color:white;
	  width:300px;
	  height:300px;
	  margin-bottom:20px;
	  margin-top:10px;
	  margin-left:500px;
	  margin-right:0px;
	 
	  padding:30px 50px 60px 50px; 
	  border: 7px dotted black;
  }
  
  .kotak_satu p{
	  font-family:calibri;
	  font-size:17pt;
	  font-weight:lighter;
	  letter-spacing:-1px;
	  line-height:30px;
	  text-align:justify;
  }
  
  .kotak_dua{
	  background-color:#FF3455;
	  color:white;
	  width:500px;
	  height:600px;
	  margin: 0px 50px 125px 0px;
	  border-color:red;
	  border-style:dashed;
	  border-width:5px;
  }
  
  .ketiga{
	  background-image: url("../kuciang.jpg");
	  background-color:white;
	  color:black;
	  width:100px;
	  height:100px;
	  margin: 0px 50px 125px 0px;
  }
  