.kotak {
	border-color:red;
	border-style:dashed;
	border-width:5px;
	
	width:500px;
	height:500px;
	text-align:center;
}

.kotak img{
	border-radius:50% 50% 50% 50%;
}

.button{
	width:240px;
	height:83px;
	background-image:url(../img_navsprites.gif);
	background-position-y:0;
}

.button:hover{
	background-position-y:-83px;
}